<div class="container mt-3 mb-5">
   
   <h1><b>Héroes</b> <small> Marvel y DC</small></h1>
    <hr>

    <div class="row row-cols-1 row-cols-md-3 g-4 ">
        <div *ngFor="let item of dataEntrante" >
            <div *ngFor="let heroe of heroes">
                <div *ngIf="heroe.nombre==item">
                    <div class="col">
                        <div class="card">
                            <img src="{{heroe.img}}" class="card-img-top" alt="{{heroe.nombre}}">
                            <div class="card-body">
                                <h5 class="card-title">{{heroe.nombre}}</h5>
                                <p class="card-text">{{heroe.bio}}</p>
                                <span class="text-muted ">{{heroe.aparicion}}</span>
                                <div class="d-grid gap-2 mt-3">
                                    <button type="button" class="btn btn-outline-primary" [routerLink]="['/detalle', heroe.id]">Ver más...</button>
                                </div>
                            </div>
                            
                        
                        </div>
                        
        
                    </div>
                </div>
            </div>
            
        </div>
  </div> 
</div>
