
  <div class="footer  ">
    <div id="button"></div>
    <div id="container">
        <div class="container text-center">
            <div class="row align-items-start">
                <div class="col">
                    <div id="cont">
                        <div class="footer_center">
                          <h6 class="lletres fst-italic">"Ser o no ser, esa es la cuestión."</h6>
                          <img class="  fotoIronman" src="assets\img\Ironman hamlet.jpg" alt="Ironman Hamlet">
                        </div>
                      </div>
                </div>
                <div class="col">
                    <h4 class="lletres minombre"> <small>ALEIX PÉREZ</small> ®</h4>
                </div>
                <div class="col">
                    <div id="cont">
                        <div class="footer_center">
                          <h6 class="lletres fst-italic">"¡Corre Forrest, corre!"</h6>
                          <img class="  fotoIronman" src="\assets\img\flash.jpg" alt="Flash">
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
  </div>
 