.marginLletres{

    margin-top: 240px;
    color: white;
    display: inline-block;
}
.img{

    text-align: left;

}
.tamanyimg{

       height: 500px; 
       width: 420px;
       margin-left: 20px;

}
.background{
    
    background: url("../../../assets/img/fondoabout.jpg");
    height: 200%;
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    padding-bottom: 50px;

}
.espaiFletxa{
    margin-left: 50px;
    margin-right: 30px;
}