<div *ngIf="numposiblesheroes>1;else elseBlock">
    
    <div class="container mt-3 mb-5">
   
        <h1><b>Héroes</b> <small> Marvel y DC</small></h1>
         <hr>
     
         <div class="row row-cols-1 row-cols-md-3 g-4 ">
             <div *ngFor="let item of arraySearch" >
                 <div *ngFor="let heroe of heroes">
                     <div *ngIf="heroe.nombre==item">
                         <div class="col">
                             <div class="card">
                                 <img src="{{heroe.img}}" class="card-img-top" alt="{{heroe.nombre}}">
                                 <div class="card-body">
                                     <h5 class="card-title">{{heroe.nombre}}</h5>
                                     <p class="card-text">{{heroe.bio}}</p>
                                     <span class="text-muted ">{{heroe.aparicion}}</span>
                                     <div class="d-grid gap-2 mt-3">
                                         <button type="button" class="btn btn-outline-primary" (click)="viajar(heroe.id)">Ver más...</button>
                                     </div>
                                 </div>
                                 
                             
                             </div>
                             
             
                         </div>
                     </div>
                 </div>
                 
             </div>
       </div> 
     </div>
     
    

</div>
<ng-template #elseBlock>
    <div class="container">
        
        <div class="margin mt-2">
            <h1 class="sameLinia mt-2">{{nombredetalle | uppercase }} </h1>
            <span class="sameLinia fw-light fs-3"> &nbsp;({{apariciondetalle | date:'y'}})</span>
        </div>
        
        
        <div class="row justify-content-center container">
            <div class="col-3">
                <div style="width: 18rem;">
                    <img src="{{imgdetalle}}" class="card-img-top" alt="{{nombredetalle}}">
                    <div class="d-grid gap-2 mt-3">
                        <button type="button" class="btn btn-outline-danger" [routerLink]="['/cards']">Regresar</button>              
                    </div>
                </div>
            </div>
            <div class="col-8 mb-5 container ">
                <h3 >{{nombredetalle}}</h3>
                <hr>
                <p >{{biodetalle}}</p>
                <div *ngIf="logo=='Marvel'">
                    <img class="tamanyImg"src="\assets\img\marvel.png">
                </div>
                <div *ngIf="logo=='DC'">
                    <img class="tamanyImg" src="\assets\img\DC.jpg">
                </div>
            </div>
        </div>
    </div>
</ng-template>
