  <section>
    <div class="section-heading ">
      <div class="grid-container ">
        <div class="grid-x ">
          <div class="cell">
            <h2>GODZILLA VS. KING KONG</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="cell">
          <img class="ampladaFotos mt-1" src="\assets\img\godzila vs king kong.jpg" alt="GODZILLA VS. KING KONG">
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="section-heading">
      <div class="grid-container  ">
        <div class="grid-x">
          <div class="cell">
            <h2>THANOS</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="cell">
          <img class="ampladaFotos" src="assets\img\thanos.jpg" alt="THANOS">
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="section-heading">
      <div class="grid-container">
        <div class="grid-x">
          <div class="cell">
            <h2>DUENDE VERDE</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="cell">
          <img class="ampladaFotos" src="assets\img\duende verde.jpg" alt="DUENDE VERDE">
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="section-heading">
      <div class="grid-container">
        <div class="grid-x">
          <div class="cell">
            <h2>ANTMAN</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="cell">
          <img src="\assets\img\antman.jpg" alt="ANTMAN">
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="section-heading">
      <div class="grid-container">
        <div class="grid-x">
          <div class="cell">
            <h2>CAPITANA MARVEL</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="cell">
          <img class="ampladaFotos" src="\assets\img\capitanamarvel.png" alt="CAPITANA MARVEL">
        </div>
      </div>
    </div>
  </section>
