  <section>
    <div class="section-heading ">
      <div class="grid-container ">
        <div class="grid-x ">
          <div class="cell">
            <h2 class="text-center">MENSAJE DE BIENVENIDA</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="cell">
         <h4 class="textjustificat mt-4 mb-4 container">Tengan una calurosa bienvenida a su sitio web favorito.<br> Donde los milagros
          son posibles. Donde pase lo que pase <br>siempre lucharemos por los nuestros.<br>
          <b>¡Pasen y descubran este maravilloso espacio! </b> <br>
          ¡Aquí mismo podrán observar algunos banners descargables<br> de sus héroes favoritos, 
          sin olvidarnos de las heroínas!<br>
          También pueden viajar y conocer detalladamente otros héroes<br>
          pulsando este botón: <button class="btn botóFondo mt-2" [routerLink]="['/cards']">Descubrir héroes</button><br>
          ¡DISFRUTEN!
         </h4>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="section-heading">
      <div class="grid-container  ">
        <div class="grid-x">
          <div class="cell">
            <h2>THANOS</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="cell">
          <img class="ampladaFotos" src="assets\img\thanos.jpg" alt="THANOS">
          <a href="assets\img\thanos.jpg" download>
            <button class="btn botóFondo cssBotóBanner">Descargar banner</button>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="section-heading">
      <div class="grid-container">
        <div class="grid-x">
          <div class="cell">
            <h2>DUENDE VERDE</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="cell">
          <img class="ampladaFotos" src="assets\img\duende verde.jpg" alt="DUENDE VERDE">
          <a href="assets\img\duende verde.jpg" download>
            <button class="btn botóFondo cssBotóBannerDuende">Descargar banner</button>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="section-heading">
      <div class="grid-container">
        <div class="grid-x">
          <div class="cell">
            <h2>ANTMAN</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="cell">
          <img src="\assets\img\antman.jpg" alt="ANTMAN">
          <a href="\assets\img\antman.jpg" download>
            <button class="btn botóFondo cssBotóBanner">Descargar banner</button>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="section-heading">
      <div class="grid-container">
        <div class="grid-x">
          <div class="cell">
            <h2>CAPITANA MARVEL</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="cell">
          <img class="ampladaFotos" src="\assets\img\capitanamarvel.png" alt="CAPITANA MARVEL">
          <a href="\assets\img\capitanamarvel.png" download>
            <button class="btn botóFondo cssBotóBanner">Descargar banner</button>
          </a>
        </div>
      </div>
    </div>
  </section>
