<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>


<!-- <div class = "container mt-5">
  <button type="button" class="btn btn-primary mb-5" (click)="visualiza()">Primary</button>
  <div *ngIf="visualizaDiv" class="alert alert-danger" role="alert">
    {{mensaje}}
  </div>

  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div *ngFor="let item of array" >
      <div class="col">
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{item.nombre}}</h5>
            <p class="card-text">{{item.apellido}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->